# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Virtual environment
venv/
ENV/
env/
.venv/
.Python

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# SQLite database
*.db
*.sqlite3

# Environment variable files
.env
.env.*
src/.env     # <- Specifically ignore .env in your src/ directory

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit config
.streamlit/config.toml

# Log files
*.log

# Compiled Cython files
*.c
*.cpp
*.so

# Misc
*.bak
*.swp
*.tmp
